@model IEnumerable<WebApplicationGeo.Models.Cars.Toyota.ColorModel>

@{
    ViewData["Title"] = "All Cars";
}

<h1> All Colors in DB </h1>

<ul>
    @* _context.ToyotaModels  *@
    @foreach (var color in Model)
    {
        <li>
            @color.Name
            <ul>
                @* Include tModels.Configurations *@
                @foreach (var aColor in color.Configurations)
                {
                    <li>
                        @aColor.Configuration.Name
                        <ul>
                            <li>
                                @aColor.Configuration.Model.Name
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
