<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplicationGeo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplicationGeo.styles.css" asp-append-version="true"/>
</head>
<body>
<header>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplicationGeo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link " asp-controller="GeoPage" asp-action="SomePage">Geo Page</a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link " asp-controller="CarByColor" asp-action="Index">Car By Color</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="regionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Regions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="regionsDropdown">
                            <li><a class="dropdown-item" asp-controller="CityByCountries" asp-action="Index">Search City</a></li>
                            <li><a class="dropdown-item" asp-controller="Country" asp-action="Index">Countries</a></li>
                            <li><a class="dropdown-item" asp-controller="Area" asp-action="Index">Areas</a></li>
                            <li><a class="dropdown-item" asp-controller="City" asp-action="Index">Cities</a></li>
                            <li><a class="dropdown-item" asp-controller="Region" asp-action="Index">Regions</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="carsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Toyota
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="carsDropdown">
                            <li><a class="dropdown-item" asp-controller="ShowAllCars" asp-action="Index">All DB</a></li>
                            <li><a class="dropdown-item" asp-controller="CarModel" asp-action="Index">Models</a></li>
                            <li><a class="dropdown-item" asp-controller="CarConfiguration" asp-action="Index">Configurations</a></li>
                            <li><a class="dropdown-item" asp-controller="ConfigurationColor" asp-action="Index">Configuration Colors</a></li>
                            <li><a class="dropdown-item" asp-controller="Colors" asp-action="Index">Color</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - WebApplicationGeo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>